.header {
    &-inner {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 23px;
        z-index: 1;
    }
    &-logo {
        max-height: 44px;
    }
    &-cta {
        margin-left: 8px;
        display: flex;
        column-gap: 8px;
    }
    & .navbar {
        margin-left: auto;
    }
}
