.solution {
    padding-top: 8rem;
    &-img {
        max-height: 4.8rem;
        margin-bottom: 2.4rem;
    }
    &-heading {
        margin-bottom: 5.6rem;
    }
}
.resolve {
    padding-top: 8rem;
}
