.hero {
    height: calc(100vh - 6.7rem);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    &-heading {
        font-size: 5.6rem;
        line-height: 6.5rem;
        letter-spacing: 0.01em;
        @include media-breakpoint-down(sm) {
            & {
                font-size: 3.5rem;
                line-height: 4.3rem;
            }
        }
    }
    &-cta {
        margin-top: 4.9rem;
        display: flex;
        column-gap: 1.6rem;
    }
    &-users {
        margin-top: 4.3rem;
        display: inline-flex;
        align-items: center;
        column-gap: 2.8rem;
    }
    &-user-wrapper {
        display: flex;
        column-gap: 1.2rem;
    }
    &-user-text {
        font-size: 1.3rem;
    }
    &-quanlity {
        font-size: $font-size-h2;
    }
    &-img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 100%;
    }
}
.badge-label-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: #e0eefe;
    border-radius: 50px;
}
.badge-img {
    max-height: 3.2rem;
}
