.navbar {
    // scss-docs-start navbar-css-vars
    --#{$var-prefix}navbar-padding-x: #{if(
            $navbar-padding-x == null,
            0,
            $navbar-padding-x
        )};
    --#{$var-prefix}navbar-padding-y: #{$navbar-padding-y};
    // scss-docs-end navbar-css-vars

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--#{$var-prefix}navbar-padding-y)
        var(--#{$var-prefix}navbar-padding-x);

    %container-flex-properties {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }

    > .container,
    > .container-fluid {
        @extend %container-flex-properties;
    }

    @each $breakpoint, $container-max-width in $container-max-widths {
        > .container#{breakpoint-infix($breakpoint, $container-max-widths)} {
            @extend %container-flex-properties;
        }
    }
}

.navbar-nav {
    // scss-docs-start navbar-nav-css-vars
    --#{$var-prefix}navbar-nav-link-padding-x: #{$navbar-nav-link-padding-x};
    --#{$var-prefix}navbar-nav-link-padding-y: #{$navbar-nav-link-padding-y};
    --#{$var-prefix}nav-link-font-size: #{$navbar-nav-link-font-size};
    --#{$var-prefix}navbar-nav-link-font-weight: #{$navbar-link-font-weight};
    --#{$var-prefix}navbar-nav-link-color: #{$navbar-link-color};
    --#{$var-prefix}navbar-nav-link-hover-color: #{$navbar-nav-link-hover-color};
    --#{$var-prefix}navbar-nav-link-bg-color: #{$navbar-nav-link-bg-color};
    --#{$var-prefix}navbar-nav-link-border-radius: #{$navbar-nav-link-border-radius};
    --#{$var-prefix}navbar-nav-link-transition: #{$navbar-nav-link-transition};
    --#{$var-prefix}navbar-nav-shadow: #{$navbar-nav-shadow-property} rgb(0, 41, 87, #{$navbar-nav-shadow-opacity});
    // scss-docs-end navbar-nav-css-vars

    display: flex;
    flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-weight: var(--#{$var-prefix}navbar-nav-link-font-weight);
    transition: var(--#{$var-prefix}navbar-nav-link-color);
    .nav-link {
        color: var(--#{$var-prefix}navbar-nav-link-color);
        border-radius: var(--#{$var-prefix}navbar-nav-link-border-radius);
        &.active,
        &.show,
        &:hover,
        &:active {
            box-shadow: var(--#{$var-prefix}navbar-nav-shadow);
            color: var(--#{$var-prefix}navbar-nav-link-color);
            background-color: var(--#{$var-prefix}navbar-nav-link-bg-color);
        }
    }

    .dropdown-menu {
        position: static;
    }
}

.navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        // stylelint-disable-next-line scss/selector-no-union-class-name
        &#{$infix} {
            @include media-breakpoint-up($next) {
                flex-wrap: nowrap;
                justify-content: flex-start;

                .navbar-nav {
                    flex-direction: row;
                    .nav-item:hover .kv-list-product {
                        display: block;
                    }
                    .nav-item:hover .kv-list-solution {
                        display: block;
                    }
                    .dropdown-menu {
                        position: absolute;
                    }

                    .nav-link {
                        padding: var(--#{$var-prefix}navbar-nav-link-padding-y)
                            var(--#{$var-prefix}navbar-nav-link-padding-x);
                    }
                }

                .navbar-nav-scroll {
                    overflow: visible;
                }

                .navbar-collapse {
                    display: flex !important;
                    flex-basis: auto;
                }

                .navbar-toggler {
                    display: none;
                }

                .offcanvas {
                    position: static;
                    z-index: auto;
                    flex-grow: 1;
                    width: auto !important;
                    height: auto !important;
                    visibility: visible !important;
                    background-color: transparent !important;
                    border: 0 !important;
                    transform: none !important;
                    @include box-shadow(none);
                    @include transition(none);
                    // stylelint-enable declaration-no-important

                    .offcanvas-header {
                        display: none;
                    }

                    .offcanvas-body {
                        display: flex;
                        flex-grow: 0;
                        padding: 0;
                        overflow-y: visible;
                    }
                }
            }
        }
    }
}
